<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

  <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class>
      com.google.cloud.cache.apps.loadtest.DeleteServlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>get</servlet-name>
    <servlet-class>com.google.cloud.cache.apps.loadtest.GetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>incrementDecrement</servlet-name>
    <servlet-class>
      com.google.cloud.cache.apps.loadtest.IncrementDecrementServlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>multiSet</servlet-name>
    <servlet-class>
      com.google.cloud.cache.apps.loadtest.MultiSetServlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>multiSetGetDelete</servlet-name>
    <servlet-class>
      com.google.cloud.cache.apps.loadtest.MultiSetGetDeleteServlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>set</servlet-name>
    <servlet-class>com.google.cloud.cache.apps.loadtest.SetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>setGetDelete</servlet-name>
    <servlet-class>
      com.google.cloud.cache.apps.loadtest.SetGetDeleteServlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>qpsLoadTest</servlet-name>
    <servlet-class>
      com.google.cloud.cache.apps.loadtest.QpsLoadTestServlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>qpsLoadTestSync</servlet-name>
    <servlet-class>
      com.google.cloud.cache.apps.loadtest.QpsLoadTestSyncServlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>memcachedTest</servlet-name>
    <servlet-class>
      com.google.cloud.cache.apps.loadtest.MemcachedConformanceTestServlet
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>memcachedLoadTest</servlet-name>
    <servlet-class>
      com.google.cloud.cache.apps.loadtest.MemcachedLoadTestServlet
    </servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>get</servlet-name>
    <url-pattern>/get</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>incrementDecrement</servlet-name>
    <url-pattern>/incrdecr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>multiSet</servlet-name>
    <url-pattern>/mset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>multiSetGetDelete</servlet-name>
    <url-pattern>/msetgetdelete</url-pattern>
  <servlet-mapping>
  </servlet-mapping>
    <servlet-name>set</servlet-name>
    <url-pattern>/set</url-pattern>
  <servlet-mapping>
  </servlet-mapping>
    <servlet-name>setGetDelete</servlet-name>
    <url-pattern>/setgetdelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>qpsLoadTest</servlet-name>
    <url-pattern>/qpsloadtest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>qpsLoadTestSync</servlet-name>
    <url-pattern>/qpsloadtestsync</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>memcachedTest</servlet-name>
    <url-pattern>/memcachedtest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>memcachedLoadTest</servlet-name>
    <url-pattern>/memcachedloadtest</url-pattern>
  </servlet-mapping>

</web-app>
